{% extends "layout.html" %}

{% block title %}Edit Jurusan{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit Jurusan</h1>
    </div>
    <form action="/jurusan/edit/{{ jurusan[0] }}" method=post>
        <div class="mb-3">
            <label for="nama" class="form-label">Nama:</label>
            <input type="input" class="form-control" placeholder="Nama" name="nama" value="{{ jurusan[1] }}" required>
        </div>
        <div class="mb-3">
            <label for="jdosen" class="form-label">Jumlah Dosen:</label>
            <input type="number" class="form-control" placeholder="Jumlah Dosen" name="jdosen" value="{{ jurusan[3] }}" readonly>
        </div>
        <div class="mb-3">
            <label for="jmhs" class="form-label">Jumlah Mahasiswa:</label>
            <input type="number" class="form-control" placeholder="Jumlah Mahasiswa" name="jmhs" value="{{ jurusan[4] }}" readonly>
        </div>
        <div class="mb-4">
            <label for="max" class="form-label">Maksimum Mahasiswa Perkelas:</label>
            <input type="number" class="form-control" placeholder="Maksimum Mahasiswa Perkelas" name="max" value="{{ jurusan[2] }}" required>
        </div>
        <a type="button" href="/jurusan" class="btn btn-secondary">Kembali</a>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</main>
{% endblock %}